---
title: Hello there! &middot; Home
layout: default
---

<div class="row">
  <div class="col-12 col-xl-3 col-lg-4 col-md-5 col-sm-6">
    {% include me/sidebar.html %}
    <br />
  </div>
  <div class="col-12 col-xl-9 col-lg-8 col-md-7 col-sm-6">
    <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-bottom: 1rem;">
      <li class="nav-item">
        <a
          class="nav-link active text-uppercase"
          id="job-tab"
          data-toggle="tab"
          href="#job"
          role="tab"
          aria-controls="job"
          aria-selected="false"
          >Experience</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-uppercase"
          id="job-tab"
          data-toggle="tab"
          href="#clubs"
          role="tab"
          aria-controls="clubs"
          aria-selected="false"
          >Clubs and Organizations</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-uppercase"
          id="skill-tab"
          data-toggle="tab"
          href="#skill"
          role="tab"
          aria-controls="skill"
          aria-selected="true"
          >Skills</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-uppercase"
          id="course-tab"
          data-toggle="tab"
          href="#course"
          role="tab"
          aria-controls="course"
          aria-selected="true"
          >Courses</a
        >
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="job"
        role="tabpanel"
        aria-labelledby="job-tab"
      >
        {% for job in site.data.jobs %} {% include me/job.html content=job %}
        <br />
        {% endfor %}
      </div>
      <div
        class="tab-pane fade"
        id="clubs"
        role="tabpanel"
        aria-labelledby="clubs-tab"
      >
        <ul class="list-group">
          {% for club in site.data.clubs %}
          <a class="list-group-item" href="{{ club.site }}" target="_blank">
            <h4>
              <i class="{{ club.icon }}"></i>
              {{ club.name }}
            </h4>
          </a>
          {% endfor %}
        </ul>
      </div>
      <div
        class="tab-pane fade"
        id="skill"
        role="tabpanel"
        aria-labelledby="skill-tab"
      >
        <ul class="list-group">
          {% for skill in site.data.skills %}
          <li class="list-group-item">
            <h4 class="text-primary">
              {{ skill.title }}
            </h4>
            <ul class="list-inline">
              {% for item in skill.items %}
              <li class="list-inline-item">
                <h5 style="font-weight: normal;">{{ item }}</h5>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div
        class="tab-pane fade"
        id="course"
        role="tabpanel"
        aria-labelledby="course-tab"
      >
        <ul class="list-group">
          {% for course in site.data.courses %}
          <li class="list-group-item">
            <h4 class="text-primary">
              {{ course.name }}
              <small class="blockquote-footer">{{ course.instructor }}</small>
            </h4>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
